@model CandidateProject.ViewModels.CartonDetailsViewModel

@{
      ViewBag.Title = "View Carton Equipment";
}

<h2>View Carton Equipment</h2>

<h3>Carton @Html.DisplayFor(model => model.CartonNumber)</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.FirstOrDefault().ModelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.FirstOrDefault().SerialNumber)
        </th>

        <th>
        </th>        
    </tr>

    @foreach (var item in Model.Equipment)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveEquipmentOnCarton", new { cartonId = Model.CartonId, equipmentId = item.Id })

            </td>
        </tr>
    }

</table>
